#
# Copyright 2021 The Dapr Authors
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#     http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: Validate State Management

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - feature/new_quickstarts
      - release-*
    tags:
      - v*
  pull_request:
    branches:
      - master
      - feature/new_quickstarts
      - release-*
jobs:
  deploy:
    name: Validate quickstarts on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      DAPR_INSTALL_URL: https://raw.githubusercontent.com/dapr/cli/master/install
      GOVER: 1.17
      KUBERNETES_VERSION: v1.21.1
      KIND_VERSION: v0.11.0
      KIND_IMAGE_SHA: sha256:69860bda5563ac81e3c0057d654b5253219618a22ec3a346306239bba8cfa1a6
    strategy:
      matrix: 
        os: [ubuntu-latest, macos-latest]
    steps:
      - name: Install docker - MacOS
        if: matrix.os == 'macos-latest'
        uses: docker-practice/actions-setup-docker@1.0.8
        with:
          docker_buildx: false
          docker_version: 20.10
      - name: Configure KinD
        if: matrix.os == 'ubuntu-latest'
        # Generate a KinD configuration file that uses:
        # A couple of worker nodes: this is needed to run both
        #     ZooKeeper + Kakfa
        working-directory: ./
        run: |
          cat > kind.yaml <<EOF
          apiVersion: kind.x-k8s.io/v1alpha4
          kind: Cluster
          nodes:
          - role: control-plane
            image: kindest/node:${{ env.KUBERNETES_VERSION }}@${{ env.KIND_IMAGE_SHA }}
          - role: worker
            image: kindest/node:${{ env.KUBERNETES_VERSION }}@${{ env.KIND_IMAGE_SHA }}
          - role: worker
            image: kindest/node:${{ env.KUBERNETES_VERSION }}@${{ env.KIND_IMAGE_SHA }}
          - role: worker
            image: kindest/node:${{ env.KUBERNETES_VERSION }}@${{ env.KIND_IMAGE_SHA }}
          - role: worker
            image: kindest/node:${{ env.KUBERNETES_VERSION }}@${{ env.KIND_IMAGE_SHA }}
          EOF
  
          # Log the generated kind.yaml for easy reference.
          cat kind.yaml

      - name: Create KinD Cluster - Linux
        if: matrix.os == 'ubuntu-latest' 
        uses: helm/kind-action@v1.0.0
        with:
          config: kind.yaml
          cluster_name: kind
          version: ${{ env.KIND_VERSION }}
      - name: Install minikube - MacOS
        if: matrix.os == 'macos-latest' 
        run: |
          brew install kubernetes-cli || brew link --overwrite kubernetes-cli
          brew install minikube
          minikube start --memory 1900 --host-only-cidr "192.168.59.1/24"
      - name: Get KinD info
        if: matrix.os == 'ubuntu-latest'
        run: |
          kubectl cluster-info --context kind-kind
          NODE_IP=$(kubectl get nodes \
                    -lkubernetes.io/hostname!=kind-control-plane \
                    -ojsonpath='{.items[0].status.addresses[?(@.type=="InternalIP")].address}')
          echo "SERVICE_IP=$NODE_IP" >> $GITHUB_ENV
      - name: Set up Go ${{ env.GOVER }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GOVER }}
      - name: Determine latest Dapr Runtime version including Pre-releases
        run: |
          helm repo add dapr https://dapr.github.io/helm-charts/ && helm repo update && export RUNTIME_VERSION=$(helm search repo dapr/dapr --devel --versions | awk '/dapr\/dapr/ {print $3; exit}' )
          echo "DAPR_RUNTIME_VERSION=$RUNTIME_VERSION" >> $GITHUB_ENV
          echo "Found $RUNTIME_VERSION"
        shell: bash
      - name: Determine latest Dapr Cli version including Pre-releases
        run: |
          export CLI_VERSION=$(curl "https://api.github.com/repos/dapr/cli/releases?per_page=1&page=1" --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' | jq '.[0].tag_name'| tr -d '",v')
          echo "DAPR_CLI_VERSION=$CLI_VERSION" >> $GITHUB_ENV
          echo "Found $CLI_VERSION"
        shell: bash
      - name: Set up Dapr CLI - Mac/Linux
        if: matrix.os != 'windows-latest'
        run: wget -q ${{ env.DAPR_INSTALL_URL }}/install.sh -O - | /bin/bash -s ${{ env.DAPR_CLI_VERSION }}
      - name: Set up Dapr CLI - Windows
        if: matrix.os == 'windows-latest'
        run: powershell -Command "\$$script=iwr -useb ${{ env.DAPR_INSTALL_URL }}/install.ps1; \$$block=[ScriptBlock]::Create(\$$script); invoke-command -ScriptBlock \$$block -ArgumentList ${{ env.DAPR_CLI_VERSION }}"     
      - name: Install Dapr
        run: |
          export GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
          dapr init --runtime-version=${{ env.DAPR_RUNTIME_VERSION }}
          dapr --version
      - name: Install Dapr - Kubernetes
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo update
          helm install redis bitnami/redis
          dapr init -k --runtime-version=${{ env.DAPR_RUNTIME_VERSION }} --wait || kubectl get pods --all-namespaces
          kubectl get nodes -o wide
          for pod in `dapr status -k | awk '/dapr/ {print $1}'`; do kubectl describe pod -l app=$pod -n dapr-system ; kubectl logs -l app=$pod -n dapr-system; done
      - name: Check out code 
        uses: actions/checkout@v2
      - name: Install utilities dependencies
        run: |
          echo "PATH=$PATH:$HOME/.local/bin" >> $GITHUB_ENV
          pip3 install setuptools wheel
          pip3 install mechanical-markdown
      - name: Validate Go http State Management
        run: |
          pushd state_management/go/http
          make validate
          popd
      - name: Validate Go sdk State Management
        run: |
          pushd state_management/go/sdk
          make validate
          popd
      # - name: Validate Java http State Management
      #   run: |
      #     pushd state_management/java/http
      #     make validate
      #     popd
      # - name: Validate Java sdk State Management
      #   run: |
      #     pushd state_management/java/sdk
      #     make validate
      #     popd
      - name: Validate Python http State Management
        run: |
          pushd state_management/python/http
          make validate
          popd
      - name: Validate Python sdk State Management
        run: |
          pushd state_management/python/sdk
          make validate
          popd
      - name: Validate Javascript http state Management
        run: |
          pushd state_management/javascript/http
          make validate
          popd
      - name: Validate Javascript sdk state Management
        run: |
          pushd state_management/javascript/sdk
          make validate
          popd
      - name: Linkcheck README.md
        run: |
          make validate        
